:root {
  box-sizing: border-box;
}

html,
body,
* {
  margin: 0;
  padding: 0;
}

body {
  background-color: #f4f4f4;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

#app {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.summary {
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  text-align: center;
  padding: 20px;
  max-width: 80%;
  margin-bottom: 20px;
}

.title {
  font-size: 1.8em;
  color: #2c3e50;
  margin-bottom: 10px;
}

.result {
  font-size: 1.4em;
  color: #34495e;
}

.games {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.option {
  width: 120px;
  height: 120px;
  margin: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 2.2em;
  font-weight: bold;
  letter-spacing: 1px;
  background-color: #f39c12;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  transition: background-color 0.3s ease-in-out, transform 0.2s ease-in-out;
}

.option:hover {
  cursor: pointer;
  background-color: #e67e22;
  transform: scale(1.05);
}

@media screen and (max-width: 600px) {
  .summary {
    width: 90%;
  }

  .option {
    width: 80%;
    height: 80px;
    font-size: 1.8em;
  }
}
